:root {
  --color-background: hsl(225, 100%, 94%);
  --color-primary: hsl(245, 75%, 52%);
  --color-secondary-one: hsla(246, 48%, 63%, 1);
  --color-secondary-two: hsla(245, 83%, 68%, 1);
  --color-text: hsla(224, 52%, 14%, 1);
  --color-white: rgb(255, 255, 255);
  --color-light-text: hsla(229, 14%, 56%, 1);
  --color-card-background: hsla(230, 75%, 98%, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  text-size-adjust: none;
}

body,
h1,
h2,
p {
  margin-block-end: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1,
h2,
button {
  line-height: 1.1;
}

h1,
h2 {
  text-wrap: balance;
}

img,
picture {
  max-width: 100%;
  display: block;
}

button {
  font: inherit;
}

body {
  font-family: 'Red Hat Display', sans-serif;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0.3125rem;
}

.card-content {
  border-radius: 1.25rem;
  background: var(--color-white);
  max-width: 25rem;
  margin-top: 3.125rem;
}

picture {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.card__illustration-background {
  overflow: hidden;
  border-radius: 1.25rem 1.25rem 0rem 0rem;
  margin-bottom: 1.25rem;
}

.card__illustration {
  width: 100%;
  max-width: 100%; 
  height: auto;
  display: block;
}

.text-background {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  padding: 0.125rem;
}

.main-heading__title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-text);
}

.main-heading__paragraph {
  font-size: 1.1rem;
  color: var(--color-light-text);
  gap: 0.625rem;
}

.text-and-icon-background {
  display: flex;
  flex-direction: row;
  gap: 1.25rem; 
  background: var(--color-card-background);
  padding: 1.25rem;
  border-radius: 0.5rem;
  align-items: center;
  height: 8rem;
}

.card-text-background {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;
  padding: 0.625rem;
}

.card-text-background__title {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--color-text);
}

.card-text-background__paragraph {
  font-size: 1rem;
  color: var(--color-light-text);
}

a {
  color: var(--color-primary);
  text-decoration: underline;
  font-weight: 700;
}

a:hover {
  color: var(--color-secondary-one);
}

.primary-button {
  background: var(--color-primary);
  color: var(--color-white);
  border: none;
  border-radius: 0.5rem;
  padding: 0.9375rem;
  font-size: 1rem;
  font-weight: 700;
  gap: 1.875rem;
  width: 100%;
}

.primary-button:hover {
  background: var(--color-secondary-two);
  cursor: pointer;
}

.secondary-button {
  color: var(--color-light-text);
  font-weight: 700;
  margin-bottom: 1.25rem;
  border: none;
  background: none;
}

.secondary-button:hover {
  color: var(--color-text);
  cursor: pointer;
}

.bottom-text {
  display: inline-flex;
  flex-direction: column;
  gap: 1.25rem;
}

.main-heading {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-items: center; 
  text-align: center;
}

footer {
  margin-top: 1.25rem;
  color: var(--color-text);
  font-family: 'Red Hat Display', sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

@media (min-width: 60rem) {
  .card-content {
    gap: 0.4375rem;
  }
}
